@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Saira, sans-serif;
}

@theme{
  --color-dark-100:#1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#8B5CF6;
  --color-pink:#EC4899;
  --color-blue:#3B82F6;
}

.typewriter {
  overflow: hidden;
  border-right: 0.30rem solid blue;
  white-space: nowrap;
  display: inline-block;
  margin:0 auto;
  width: 28ch;
  animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
}


@keyframes typing {
  from { width: 0; }
  to { width: 27ch; }
}

@keyframes blink-caret{
    from, to {border-color:transparent;}
    50% {border-color:blue}
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}


